
.firststyle:hover,.firststyle{
    color: white;
    text-align: center !important;  
}


span{
     font-size: 1.7em;
     font-weight: bold;
}
.container-fluid{
    background-color: #009688 !important;
}

.btn-success{
 background-color: #009688 !important;
}

.logout{
    padding-top: 7px;
    float: right;
}
