
.container{
    margin-top: 50px;
}

.logo{
    height: 100px !important;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.sigin{
    background: rgba(182, 230, 207, .3);
}

.wrapper-signin {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.btn-primary{
 background-color: #009688 !important;
}

.row{
    padding: 3px 50px;
}

input, label, p, a{
    color: black !important;
}

div.create-acct{
  font-weight: bold;
  text-align: center !important;
  padding-top: 10px;
  padding-top: 10px;
}

.error {
  font-size: 1em;
  color: #c7254e;
  border-radius: 3px;
}

.btn-link{
    padding: 0px;
}

.span{
    text-align: center !important;
}

#display-success
{
width: 300px;
border: 1px solid #D8D8D8;
padding: 5px;
border-radius: 5px;
font-family: Arial;
font-size: 1em;
background-color: rgb(236, 255, 216);
color: green;
text-align: center;
margin-top: 5px;
margin-right: 150px;
float: right;
}
